@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
    --font-oswald: 'Oswald', sans-serif;
  }

  body {
    @apply bg-stadium-900 text-white antialiased selection:bg-pitch-green selection:text-stadium-900;
    font-family: var(--font-inter);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply uppercase tracking-wide;
    font-family: var(--font-oswald);
  }
}

html {
  scroll-behavior: smooth;
}
